<?xml version="1.0" encoding="UTF-8"?>
<config>
    <default>
        <offlinestore>
            <frontend>
                <parse_url_directives>1</parse_url_directives>
            </frontend>
        </offlinestore>
    </default>
    <modules>
        <Webinse_OfflineStores>
            <version>1.0.3</version>
        </Webinse_OfflineStores>
    </modules>
    <frontend>
        <routers>
            <webinseofflinestores>
                <use>standard</use>
                <args>
                    <module>Webinse_OfflineStores</module>
                    <frontName>offlinestores</frontName>
                </args>
            </webinseofflinestores>
        </routers>
        <layout>
            <updates>
                <webinseofflinestores>
                    <file>webinseofflinestores.xml</file>
                </webinseofflinestores>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <offlinestores>
                        <class>Webinse_OfflineStores_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </offlinestores>
                </observers>
            </controller_front_init_routers>
        </events>
        <resources>
            <webinseofflinestores_setup>
                <setup>
                    <module>Webinse_OfflineStores</module>
                    <class>Webinse_OfflineStores_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webinseofflinestores_setup>
            <offlinestores_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </offlinestores_read>
            <offlinestores_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </offlinestores_write>
        </resources>
        <models>
            <catalog>
                <rewrite>
                    <resource_product_collection>Webinse_OfflineStores_Model_Resource_Product_Collection</resource_product_collection>
                </rewrite>
            </catalog>
            <webinseofflinestores>
                <class>Webinse_OfflineStores_Model</class>
                <resourceModel>webinseofflinestores_resource</resourceModel>
            </webinseofflinestores>
            <webinseofflinestores_resource>
                <class>Webinse_OfflineStores_Model_Resource</class>
                <entities>
                    <table_offlinestores>
                        <table>webinse_offlinestores</table>
                    </table_offlinestores>
                    <attribute_additional>
                        <table>webinse_attribute</table>
                    </attribute_additional>
                    <offlinestores_product>
                        <table>webinse_offlinestores_product</table>
                    </offlinestores_product>
                    <attribute_website>
                        <table>webinse_attribute_website</table>
                    </attribute_website>
                    <!-- Table for Rewrite  -->
                    <offlinestore_product_index>
                        <table>webinse_offlinestore_product_index</table>
                    </offlinestore_product_index>
                </entities>
            </webinseofflinestores_resource>
        </models>
        <helpers>
            <webinseofflinestores>
                <class>Webinse_OfflineStores_Helper</class>
            </webinseofflinestores>
        </helpers>
        <blocks>
            <webinseofflinestores>
                <class>Webinse_OfflineStores_Block</class>
            </webinseofflinestores>
        </blocks>
        <!-- It's Offline Store Rewrite Url Model -->
        <offlinestore>
            <product>
                <url>
                    <model>webinseofflinestores/offlinestore_url</model>
                </url>
            </product>
            <content>
                <tempate_filter>webinseofflinestores/template_filter</tempate_filter>
            </content>
        </offlinestore>
    </global>
    <admin>
        <routers>
            <webinseofflinestores_admin>
                <use>admin</use>
                <args>
                    <module>Webinse_OfflineStores</module>
                    <frontName>webinseofflinestores_admin</frontName>
                </args>
            </webinseofflinestores_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <webinseofflinestores module="webinseofflinestores">
                <title>Offline Stores</title>
                <sort_order>88</sort_order>
                <children translate="title" module="webinseofflinestores">
                    <webinseofflinestores_add translate="title" module="webinseofflinestores">
                        <title>Add Offline Store</title>
                        <action>webinseofflinestores_admin/adminhtml_offlinestores/new</action>
                        <sort_order>20</sort_order>
                    </webinseofflinestores_add>
                    <webinseofflinestores_view translate="title" module="webinseofflinestores">
                        <title>View Offline Stores</title>
                        <action>webinseofflinestores_admin/adminhtml_offlinestores/index</action>
                        <sort_order>10</sort_order>
                    </webinseofflinestores_view>
                    <webinseofflinestores_preferences translate="title" module="webinseofflinestores">
                        <title>Settings</title>
                        <action>webinseofflinestores_admin/adminhtml_offlinestores/settings</action>
                        <sort_order>30</sort_order>
                    </webinseofflinestores_preferences>
                </children>
            </webinseofflinestores>
        </menu>
        <translate>
            <modules>
                <Webinse_OfflineStores>
                    <files>
                        <default>Webinse_OfflineStores.csv</default>
                    </files>
                </Webinse_OfflineStores>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <webinseofflinestores>
                                            <webinseofflinestores_add>
                                                <title>Add Offline Store</title>
                                            </webinseofflinestores_add>
                                            <webinseofflinestores_view>
                                                <title>View Offline Stores</title>
                                            </webinseofflinestores_view>
                                            <webinseofflinestores_preferences>
                                                <title>Settings</title>
                                            </webinseofflinestores_preferences>
                                        </webinseofflinestores>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <webinseofflinestores>
                    <file>webinseofflinestores.xml</file>
                </webinseofflinestores>
            </updates>
        </layout>
    </adminhtml>
</config>